.topheader {
  position: fixed;
  background-color: white;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.25rem;
}

.Menu-Horizontal {
  list-style: none;
  display: flex;
  padding: 0;
}

.Menu-Horizontal li {
  position: relative;
}

.Menu-Horizontal li a {
  display: block;
  color: blue;
  padding: 0.938rem 1.25rem;
  text-decoration: none;
}

.Menu-Horizontal li a:hover {
  color: red;
  font-size: 1.25rem;
}

.Menu-Vertical {
  list-style: none;
  position: absolute;
  display: none;
  width: 9.375rem;
  background-color: white;
  padding: 0;
}

.Menu-Horizontal li:hover .Menu-Vertical {
  display: block;
}

/* Sección Personas */
.seccion-personas {
  padding: 3.75rem 1.25rem;
  background-color: white;
}

.div-gral-persona {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 75rem; /* 1200px */
  margin: 0 auto;
  gap: 2.5rem;
}

.div-pers-texto {
  flex: 1;
}

.div-pers-texto h2 {
  color: blue;
  line-height: 1.6;
}

.div-pers-texto p {
  text-align: justify;
  color: black;
  font-size: 1.25rem; /* 20px */
}

.div-pers-img {
  flex: 1;
}

.div-pers-img img {
  width: 31.25rem; /* 500px */
  max-width: 62.5rem; /* 1000px */
}

/* Sección Empresa */
.seccion-empresa {
  padding: 3.75rem 1.25rem;
  background-color: white;
}

.div-gral-empresa {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 75rem; /* antes 1200px */
  margin: 0 auto;
  gap: 2.5rem;
}

.div-empresa-texto {
  flex: 1;
}

.div-empresa-texto h2 {
  color: blue;
}

.div-empresa-texto p {
  text-align: justify;
  color: black;
  font-size: 1.25rem; /* 20px */
}

.div-empresa-video {
  flex: 1;
}

.div-empresa-video iframe {
  width: 100%;
  max-width: 31.25rem; /* 500px */
}

/* Sección Formulario */
.seccion-formulario {
  background-color: #b4b4b4;
  padding: 2.5rem;
  border: 0.188rem solid black;
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
}

.div-cont-formulario {
  background-color: #b4b4b4;
  padding: 1.875rem;
  border: 0.125rem solid blue;
  border-radius: 0.625rem;
  width: 100%;
  max-width: 31.25rem;
}

.campo {
  color: aqua;
  padding: 0.938rem;
  border: 0.063rem solid #cccccc; /* antes solo 1px */
  border-radius: 0.5rem;
  margin-bottom: 0.938rem;
}

.formulario label {
  display: block;
  font-weight: 600;
}

.formulario input[type="text"],
.formulario select {
  width: 100%;
  padding: 0.438rem;
  border: 0.063rem solid brown;
}

/* Lista de checkbox y radio */
.lista-checkbox,
.lista-radio {
  list-style: none;
  padding: 0.625rem; /* antes 10.625rem */
  margin: 0;
  border: 0.063rem solid #b4b4b4; /* antes sin estilo */
  background-color: #b4b4b4;
  border-radius: 0.313rem; /* antes sin unidad */
}

.formulario button {
  background-color: chocolate;
  color: white;
  border: 0.094rem solid black;
}
